In [35]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key
import json

In [2]:
%matplotlib inline

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2021-03-27 17:09:21,-33.5906,26.8910,67.30,74,18,19.82
1,1,Mar Del Plata,AR,2021-03-27 17:09:21,-38.0023,-57.5575,64.99,77,75,23.02
2,2,Collie,AU,2021-03-27 17:09:22,-33.3667,116.1500,55.99,80,76,5.21
3,3,Punta Arenas,CL,2021-03-27 17:09:22,-53.1500,-70.9167,64.40,52,0,20.71
4,4,Ushuaia,AR,2021-03-27 17:06:00,-54.8000,-68.3000,57.20,62,75,14.97

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip"))
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip75
What is the maximum temperature you would like for your trip90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.count()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Isangel,VU,2021-03-27 17:09:23,-19.5500,169.2667,76.98,88,6,7.52
11,11,Maragogi,BR,2021-03-27 17:09:23,-9.0122,-35.2225,82.62,70,71,9.60
14,14,Atuona,PF,2021-03-27 17:09:24,-9.8000,-139.0333,80.17,79,81,19.17
15,15,Namibe,AO,2021-03-27 17:06:11,-15.1961,12.1522,75.07,79,97,9.48
20,20,Jilib,SO,2021-03-27 17:09:25,0.4883,42.7854,78.93,76,75,7.87
...,...,...,...,...,...,...,...,...,...,...
576,576,Dwarka,IN,2021-03-27 17:11:28,22.2394,68.9678,79.79,70,33,14.63
579,579,Werda,BW,2021-03-27 17:11:29,-25.2667,23.2833,78.58,28,30,11.05
580,580,Avanigadda,IN,2021-03-27 17:11:29,16.0215,80.9181,82.40,89,20,3.44
581,581,Bosaso,SO,2021-03-27 17:11:29,11.2842,49.1816,78.78,78,5,2.24
589,589,Seminole,US,2021-03-27 17:08:06,28.7086,-81.2081,89.01,42,1,3.44

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
10    Isangel      VU     76.98 -19.5500  169.2667
11   Maragogi      BR     82.62  -9.0122  -35.2225
14     Atuona      PF     80.17  -9.8000 -139.0333
15     Namibe      AO     75.07 -15.1961   12.1522
20      Jilib      SO     78.93   0.4883   42.7854
24  Namatanai      PG     78.96  -3.6667  152.4333
25    Bubaque      GW     77.32  11.2833  -15.8333
27       Poya      NC     76.23 -21.3500  165.1500
28     Jamame      SO     79.95   0.0722   42.7506
31  Manokwari      ID     77.22  -0.8667  134.0833

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        #print(json.dumps(hotels, indent=4))
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Isangel,VU,76.98,-19.5500,169.2667,Volcano Sea View Tree House
11,Maragogi,BR,82.62,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
14,Atuona,PF,80.17,-9.8000,-139.0333,Villa Enata
15,Namibe,AO,75.07,-15.1961,12.1522,Hotel Chik Chik Namibe
20,Jilib,SO,78.93,0.4883,42.7854,
...,...,...,...,...,...,...
576,Dwarka,IN,79.79,22.2394,68.9678,Hotel Narayan Avezika Comfort
579,Werda,BW,78.58,-25.2667,23.2833,
580,Avanigadda,IN,82.40,16.0215,80.9181,AP Camping
581,Bosaso,SO,78.78,11.2842,49.1816,Red Sea Hotel
589,Seminole,US,89.01,28.7086,-81.2081,Ono Hot Dog Cart and Catering

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [48]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30,30), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))